body{
    background-color:rgb(255 217 169 / 48%);
    margin: auto;
}

.title {
    display: flex;
    width:350px;
    margin:50px auto;
    justify-content: center;
    color: black;
    border: 2px solid grey;
    border-radius: 20px;
    position: relative;
    padding: 15px;  
    font-size: 50px;
    font-weight: lighter;
    font-style: italic;
    text-decoration: none;
}

#header .top-link{
    text-decoration: none;
}

#container{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 40px;
    gap:35px;
    flex:1 1 0;
    flex-wrap: wrap;
}

.left{
    width: 320px;
}

.middle-left{
    width:320px;
}

.middle-right{
    width:320px;
}

.right{
    width:320px;
}

img{
    width:320px;
    height:320px;
    border-radius: 20px;
}

.text-link{
    display: flex;
    justify-content: center;
    margin-top:30px;
    margin-bottom: 15px;
    text-decoration: none;
}

#container .left .text-link{
    border:2px solid grey;
    border-radius: 15px;
}

#container .middle-left .text-link{
    border:2px solid grey;
    border-radius: 15px;
}

#container .middle-right .text-link{
    border:2px solid grey;
    border-radius: 15px;
}

#container .right .text-link{
    border:2px solid grey;
    border-radius: 15px;
}

.left-h4{
    color:darkred;
    font-weight: lighter;
    font-size: 25px;
    margin:0px;
}

.middle-left-h4{
    color:rgb(146, 144, 0);
    font-weight: lighter;
    font-size: 25px;
    margin:0px;
}

.middle-right-h4{
    color:rgb(0, 129, 0);
    font-weight: lighter;
    font-size: 25px;
    margin:0px;
}

.right-h4{
    color:rgb(197, 53, 0);
    font-weight: lighter;
    font-size: 25px;
    margin:0px;
}

p{
    font-weight: lighter;
    font-size:20px;
    margin-left: auto;
    margin-right: auto;
    width:16em;   
}

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    transform: scale(1.1);
}








